
@{ 
    ViewBag.Title = "主页 - 陈默的个人主页";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/mohome.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3">
            <div class="container">
                <img style="width:3em;height:3em;margin-right:1em" src="~/assets/Catcatface.png" />
                <a class="navbar-brand text-lg-center" asp-action="Index"><b>MOHOME</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Resume">关于我</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Articles">技术文章</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Knowledge">知识点</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Life">生活&amp;游戏&amp;杂谈</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="mx-3">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
