@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron text-white" style=" background-image: url('/assets/test-bg-dark.jpg'); background-size: 100%; background-repeat: repeat-y; ">
    <h1 class="display-4">技术文章</h1>
    <p class="lead">个人的技术文章，关于编程、前端开发、计算机基础以及其它专业文章。</p>
    <hr class="my-4 bg-white" />
    <p>包含 C#、Web 技术、ASP.NET core、Linux、PowerShell、JavaScript、服务器架设、Kubernetes、Docker，以及其它干货内容</p>
    <p>选择一个话题查看我的文章</p>
</div>