@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="jumbotron text-white" style=" background-image: url('/assets/life-bg-dark.jpg'); background-size: 100%; background-repeat: no-repeat; background-color: black;">
    <h1 class="display-4">生活 &amp; 游戏 &amp; 杂谈</h1>
    <p class="lead">生活、游戏、杂谈</p>
    <hr class="my-4 bg-white" />
    <p>日常插科打诨、游戏、感悟、杂谈</p>
    <p>选择一个话题查看我的生活</p>
</div>